.main_chat
  .header
    .group
      .group_name
        group name
      .group-member
        Menber
    .edit_btn
      Edit
  .message
    .message_user
      .message_user_name
        ◯◯◯
      .message_user_date
        2019/11/15/13:13:13
    .message_main
      こんにちは
  .chat-input-form
    