.sidebar
  .user
    .user__name
      ◯◯◯
    .user__icon
      = link_to "#", class: "user__btn" do
        = icon('far', 'edit')
      = link_to "##", class: "user__btn" do
        = icon('fas', 'cog')
  .group-lists
    .group-lists__name
      ◯◯グループ
    .group-lists__message
      こんにちは
